DATABASE_URL=''

API_KEY='' Se envia en los headers para validar si estamos authorizados

# Postgres Configuration
DB_PORT=''
DB_USER=''

# MySQL Configuration
MYSQL_PORT=''
MYSQL_USER=''

# Global DB Configuration
DB_NAME=''
DB_HOST=''
DB_PASSWORD=''

# Secrect API_KEY
SECRET_JWT=''
EXPIRE_JWT=''
REFRES_JWT=''
